* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  color: white;
  font-family: sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#text-container {
  position: fixed;
  display: flex;
  z-index: 100;
  bottom: 1em;
  padding: 0 1em;
  width: 100vw;
  justify-content: space-between;
  align-items: flex-end;
}

#instructions {
  max-width: 70em;
  color: #a89984;
  white-space: pre-line;
}
