* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#text {
  color: white;
  position: fixed;
  bottom: 1em;
  left: 1em;
  z-index: 100;
  font-family: sans-serif;
}
